<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Spring boot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/listar}">Cliente</a></li>

			</ul>
		</div>
	</nav>
	<div class="container">
	<h1 class="text-secondary border border border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
	<form th:action="@{/form}" th:object="${cliente}" method="post">
			
			<div class="form-group row">
			<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
				<input type="text" th:field="*{nombre}" class="form-control"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
		
			<div class="form-group row">
			<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
				<input type="text" th:field="*{apellido}" class="form-control"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group row">
			<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
				<input type="text" th:field="*{email}" class="form-control"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>
			<div class="form-group row">
			<label class="col-sm-2 col-form-label">Fecha</label>
				<div class="col-sm-6">
				<input type="text" th:field="*{createAt}" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
			<input type="submit" value="Crear cliente"  />
		    </div>
		
	<input type="hidden" th:field="*{id}"/>
	
	</form>
</div>
</body>
</html>